@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<tp.Models.Customers>

<h2>Test Vue Index</h2>
@if (Model != null)
{
@foreach (var item in Model)
{
    <h3> id: @item.Id name: @item.Name </h3>
   // @*bfghvchfvhrgfbvhtrbgh*@
}

} 